# This service unit is for Banafo auto_uploader_events
# By Dimitar Kokov
#

[Unit]
Description=”Banafo auto_uploader_events”

[Service]
Restart=always
Environment=TASKS_NUMS=10 MAX_QUEUE_SIZE=1000
#EnvironmentFile=/etc/default/auto_uploader
WorkingDirectory=/usr/local/auto_uploader/
#ExecStart=/usr/local/auto_uploader/python/auto_uploader_events.py --task-nums $TASKS_NUMS --max-queue-size $MAX_QUEUE_SIZE
ExecStart=/usr/bin/env /usr/bin/python3 /usr/local/auto_uploader/python/auto_uploader_events.py --task-nums $TASKS_NUMS --max-queue-size $MAX_QUEUE_SIZE

[Install]
WantedBy=multi-user.target
